.dropdown-btn {
    cursor: pointer;
    color: #777;
}

.dropdown-btn:hover {
    cursor: pointer;
    color: #333;
}

.dropdown {
    padding-top: 15px;
    padding-bottom: 15px;
}

.dropdown ul {
    visibility: hidden;
    opacity: 0;
    top: 70%;
}

.dropdown.open ul {
    visibility: visible;
    opacity: 1;
    animation: fadein 0.5s, fadeout 0.5s 3.5s
}

.dropdown.open ul li {
    cursor: pointer;
}

.dropdown-menu {
    padding: 5px;
    width: fit-content;
    min-width: 0;
}

@-webkit-keyframes fadein {
    from { visibility: hidden; opacity: 0; }
    to { visibility: visible; opacity: 1; }
}

@-webkit-keyframes fadeout {
    from { visibility: visible; opacity: 1; }
    to { visibility: hidden; opacity: 0; }
}

:after {
    display: inline !important;
    padding-top: auto;
}

ul.nav.navbar-nav, .navbar:before, .navbar:after,
.nav:before, .nav:after .navbar-header:before, .navbar-header:after, .row:before, .row:after{
    display: inline !important;
    margin: 0 0 !important;
}