<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">{{title}}</a>
    </div>
    <ul style="float:right" class="nav navbar-nav">
      <li *ngIf="!token"><a routerLink="/register">Register</a></li>
      <li *ngIf="!token"><a routerLink="/login">Login</a></li>
      <li *ngIf="token">
        <div class="dropdown" dropdown>
          <div class="dropdown-btn" dropdown-open>{{token.userName}}</div>
          <ul class="dropdown-menu">
            <li (click)="Logout()">Logout</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div style="margin: 20px">
  <router-outlet></router-outlet>
</div>