<div *ngIf='constantService.mode == constantService.modes.Create'>
  <h2>Create a Map</h2>
  <div>
      Name:
      <input [(ngModel)]='map.Name'>
  </div>
  <br>
  <button class='btn btn-default' [disabled]='saving' (click)='submitMap()'>{{saving ? 'Submitting...' : 'Submit'}}</button>
</div>
<div *ngIf='constantService.mode == constantService.modes.Read'>
  <div>
    <button class='btn btn-success' (click)='newMap()'>Create new map</button>
  </div>
  <div id='map-select' *ngIf='maps.length > 0'>
    <br>
    <a (click)='editMap(m)' *ngFor='let m of maps'>{{m.Name}}</a>
  </div>
</div>
<div *ngIf='constantService.mode == constantService.modes.Update'>
  <div id='map-details'>
    {{map.Id}}: {{map.Name}}
  </div>
</div>